@import "../styles/styles/reset";
@import"../styles/componentes/cores";
@import"../styles/componentes/fonts";
@import"../styles/componentes/buttons";
@import"../styles/componentes/input";
@import"../styles/componentes/textarea";
@import"../styles/modais/modal-default";


body{
    background-color: $whiteFixed; 
}
.home-header{
    background-color: $grey-1;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    transition: 1s;
    .home-button-logout{
        background-color: $grey-1;
        color: $whiteFixed;
        border: none;
        cursor: pointer;
    }
    
}
.container-principal{
    display: flex;
    flex-direction: row;
    margin: 3% 4% 3% 4%; 
    align-items: flex-start;
    .container-postagem{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        >div{
            display: flex;
            flex-direction: row;
            gap: 10px;
            >div{
                gap:10px;
                display: flex;
                flex-wrap: wrap;
                max-width: 146px;
                justify-content: space-between;
                align-items: center;
            }
        }
        >input{
            width: 85%;
            height: 52px;
        }
        >textarea{
            width: 85%;
        }
        >button{
            background-color: $grey-4;
            color: $grey-3;
            border:none;
            margin-left: 85%;
            transform: translate(-100%);
            
            
            &:hover{
                color:$brand-1;
                background-color: $brand-3;
                border: 1px solid $brand-1;
            }
        }
    }
}

.container-seguir{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    transition: all 0.5s;
    .header-follows{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        >img{
            width: 25px;
            cursor: pointer;
        }
        margin-bottom: 20px;
    }
    .card-seguir{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 52px;
        gap: 30px;
        margin-bottom: 40px;
        .header-card{
            display: flex;
            width: 220px;
            gap: 10px;
        }
    }
}

.posts{
    width: 85%;
    margin-top: 50px;
    .card-post{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .header-post{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-right: 20%;
        >img{
            width: 25px;
            cursor: pointer;
        }
        margin-bottom: 20px;
    }
    .card-post{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .header-card{
            width: 100%;
        }
    }
}